@model Model.DB.User

@{
	ViewBag.Title = "ConfigureUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure User</h2>

@using (Html.BeginForm("ConfiguringUser", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
	<div class="form-horizontal">
		<h4>User</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label for="Profile" class="control-label col-md-2">FileName:</label>
			<div class="col-md-10">

				<input name="image" id="image" type="file" onchange="readFile(this)" />

				<div id="crop_image" style="width: 300px;">
					<img class="my-img" id="img" src="#" width="200" height="200" />
				</div>
				<a  class="crop">Crop</a>
			</div>
		</div>
		<div class="form-group">

			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>

		</div>
	</div>
}
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="~/Content/croppie.css" />
<script src="~/Scripts/croppie.js"></script>
<script type="text/javascript">

            function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.my-img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $('.crop').click(function () {

                var c = new Croppie(document.getElementById('crop_image'), {
                    viewport: { width: 200, height: 200, type: 'circle' },
                    boundary: { width: 300, height: 300 },
                    showZoom: false
                });

                var img = document.getElementById('img');
                var attr = img.getAttribute('src');


                c.bind(attr).then(function () {
                    //c.result('canvas', 'original').then(function (src) {
                    //    console.log(src);
                    //    $('#myImage').attr('src', src);
                    //});
                });
            });



</script>

