@{
//Layout = "";
}
@Styles.Render("~/Content/uni")
@Styles.Render("~/Content/home")
@Styles.Render("~/Content/TagEditor")
<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<body>

	<div data-bind="template:{name:'sticker-board', data:$data}">

	</div>


	<script type="text/html" id="sticker-board">
		<div class="text-center filtertag hidden">
			<span id="tagName" style="display:inline"></span>
			<span data-bind="click: $root.loaddef" class="btn btn-xs deleteicon text-center delfilter" style="display:inline">X</span>
		</div>

		<span data-bind="click:$root.addList" class="btn btn-lg newlist">Add new list</span>
		<div class="notes-board">
			<ul class="toDoList" data-bind="foreach:{data: toDoLists}">
				<li class="note">
					<a href="#">

						<span data-bind="click: $root.removeList" class="btn btn-xs icon deleteicon">X</span>
						<h1 class="text-center"><span class="title " data-bind="inline: Name"></span></h1>

						<div data-bind="template: { afterRender: FindByTag }">
							<div data-bind="template: { afterRender: bindTagsEditor }">
								<input type="text" class="tag-editor" />
							</div>
						</div>

						<span data-bind="click: $root.addItem.bind($data)" class="btn btn-xs glyphicon left glyphicon-plus"></span>
						<ul class="items text-left" data-bind="foreach: Items">
							<li>
								<input type="checkbox" data-bind="checked:IsCompleted" />
								<span  class="btn btn-sm glyphicon  glyphicon-bell"></span>
								<span data-bind="inline: Text,css:{lineThrough:IsCompleted}"></span>
								<span data-bind="click: $root.removeItem.bind($data,$parent)" class="btn btn-xs icon delicon glyphicon glyphicon-remove"></span>
							</li>
						</ul>
					</a>
				</li>
			</ul>
		</div>
	</script>
</body>
@section scripts{
	@Scripts.Render("~/bundles/homeko")
	@Scripts.Render("~/bundles/tageditor")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/knockout")
}